<div class="cart__header">
  <h6 class="cart__counter">Cart (<span>{{ cart.item_count }}</span> {{ cart.item_count | pluralize: 'Item', 'Items' }})</h6>
  <button type="button" class="btn hover-opacity cart__close">
    <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="1.35355" y1="0.646452" x2="25.3535" y2="24.6464" stroke="#202020"/>
      <line x1="0.646447" y1="24.6464" x2="24.6464" y2="0.646442" stroke="#202020"/>
    </svg>
  </button>
</div>
<div class="cart__main">
  {%- if cart.item_count > 0 -%}
    <div class="cart__items">
      {%- for item in cart.items -%}
        <div class="cart__item">
          <div class="cart__item-image">
            <img src="{{ item.image.src | img_url: 'master' }}" alt="{{ image.alt }}" />
          </div>
          <div class="cart__item-text">
            <span class="cart__item-title">{{ item.title }}</span>
            <div class="cart__item-price">
              <span>{{ item.price | money }}</span>
            </div>
            <div class="cart__item-quantity">
              <button type="button" class="quantity__minus">
                -
              </button>
              <input class="quantity" type="number" data-item-id="{{ item.id }}" value="{{ item.quantity }}" min="1">
              <button type="button" class="quantity__plus">
                +
              </button>
            </div>
          </div>
          
        </div>
      {%- endfor -%}
    </div>
  {% else %}
    <span class="no__items">No items in the cart.</span>
  {%- endif -%}
</div>
<div class="cart__footer">
  <div class="cart__price">
    <span class="cart__price-text">Subtotal</span>
    <span class="cart__price-total">{{ cart.total_price | money }}</span>
  </div>
  <div class="btns">
    <a href="/cart" class="btn hover-opacity cart__link">View cart</a>
    <a href="/checkout" class="btn hover-opacity cart__checkout">Proceed to checkout</a>
  </div>
</div>

{% schema %}
{
  "name": "Cart AJAX",
  "tag": "section",
  "class": "cart-ajax"
}
{% endschema %}
