<div class="grid-container">
<div class="grid-x ">
  <div class="cell small-12 medium-7 photo-block">
    <div 
        class="owl-carousel" 
        id="product-slider"
        data-nav="{{ section.settings.nav }}"
        data-dots="{{ section.settings.dots }}"
        data-loop="{{ section.settings.loop }}"
        data-items="1"
        data-autoplay="{{ section.settings.autoplay }}"
        >
        {% for image in product.images %}
          <div class="slide">
            <img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt }}" />
          </div>
        {% endfor %}
    </div>
    <div id="product-slider-dots" class="owl-dots" {% if section.settings.dots == false %}style="display: none;"{% endif %}>
      {% for image in product.images %}
        <div class="owl-dot">
          <img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt }}" />
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="cell small-12 medium-5">
    <div class="text">
      <h2>{{ product.title }}</h2>
      <div class="option__block">
        <div class="product__options">
          {% for option in product.options %}
            <div class="product__option">

              {%- assign option_index = forloop.index0 -%}

              <label>
                {{ option }}
              </label>
              <select class="option__select">
                {% for variant in product.variants %}
                  <option 
                      value="{{ variant.id }}"
                      data-variant-price="{{ variant.price | money }}"
                      {%- unless variant.available -%}
                        disabled
                      {%- endunless -%}
                      >
                      {{ variant.title }}
                    </option>
                {% endfor %}
              </select>
            </div>
          {% endfor %}
        
        </div>
        {%- comment -%}
        <div class="product__options">
          {%- assign buffer = "" -%}
          
        
          {% for option in product.options %}
            <div class="product__option">

              {%- assign option_index = forloop.index0 -%}

              <label>
                {{ option }}
              </label>
              <select class="option__select">
                {% for variant in product.variants %}
                  {% assign value = variant.options[option_index] %}
                  {% unless buffer contains value %}
                    <option 
                      value="{{ variant.id }}"
                      {%- unless variant.available -%}
                        disabled
                      {%- endunless -%}
                      >
                      {{ variant.title }}
                    </option>
                    {% liquid
                      assign buffer = buffer | join: ';;;'
                      assign buffer = buffer | append: ';;;' | append: value
                      assign buffer = buffer | split: ';;;'
                    %}
                  {% endunless %}
                {% endfor %}
              </select>
            </div>
          {% endfor %}
        
        </div>
        {%- endcomment -%}
        <div class="price__block">

          <span class="price">{{ product.selected_or_first_available_variant.price | money }}</span>
          <span class="tax">Tax included</span>
        </div>
        <div class="btns">
          <div class="quantity__block">
            <button type="button" class="quantity__minus">
              -
            </button>
            <input class="quantity" type="number" value="1" min="1">
            <button type="button" class="quantity__plus">
              +
            </button>
          </div>
          <button 
            id="add-to-basket"
            data-variant-id="{{ product.selected_or_first_available_variant.id }}"
            data-variant-quantity="1"
            type="button" 
            class="btn hover-opacity"
            
            >Add To Cart</button>
        </div>
      </div>
      
      <div class="desc">
        <p>{{ product.description | strip_html }}</p>
      </div>
    </div>
  </div>
</div>
</div>


{% schema %}
{
  "name": "Product",
  "tag": "section",
  "class": "product-section",
  "settings": [
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "checkbox",
      "id": "nav",
      "label": "Nav",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Dots",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Loop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": false
    }
  ]
}
{% endschema %}